<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>School Diversity - Team Base Functionality</title>
  </head>

  <body>
    <center>
    <h1>School Diversity</h1>
    Below is a visual representation of the different demographics in the New York City school system; information is organized 
    by setting, from the DoE as a whole to the compositions of the boroughs, even down to students in specific school(s). 
    The time slider allows users to view data from different years and experience the growing and shrinking of different 
    groups in these environments.
    </center>

    <div>
      <p><h2>DoE &amp; Specialized High Schools:</h2></p>

      <form name="yearselector">
          <label>Year:</label>
          <input type="range" name="year" id="yearInput" value="2013" min="2011" max="2015" oninput="yearOutput.value = yearInput.value">
          <output name="yearOutput" id="yearOutput">2013</output>
      </form>

      <!--
          In this table, the first row is just headers.
          The rest of the rows have a category-label on the left,
          and a very wide cell (spanning 6 columns, for each demographic
          group label), which is just an <SVG> element rendering the
          circles below each demographic group.
      -->
      <table id="data-table" data-years={{data}}>
          <tr>
              <th></th>
              <th>Asian (%)</th>
              <th>Black (%)</th>
              <th>Hispanic (%)</th>
              <th>White (%)</th>
              <th>Other (%)</th>
          </tr>
          <tr>
              <td>New York City</td>
              <td colspan=6><svg width="680" id="slate-nyc"></svg></td>
          </tr>
          <tr>
              <td>Stuyvesant</td>
              <td colspan=6><svg width="680" id="slate-stuy"></svg></td>
          </tr>
          <tr>
              <td>Brox Science</td>
              <td colspan=6><svg width="680" id="slate-bronx"></svg></td>
          </tr>
          <tr>
              <td>Brooklyn Tech</td>
              <td colspan=6><svg width="680" id="slate-tech"></svg></td>
          </tr>
          <tr>
              <td>Brooklyn Latin</td>
              <td colspan=6><svg width="680" id="slate-latin"></svg></td>
          </tr>
          <tr>
              <td>HS for Math, Science, and Engineering</td>
              <td colspan=6><svg width="680" id="slate-hsmse"></svg></td>
          </tr>
          <tr>
              <td>Laguardia</td>
              <td colspan=6><svg width="680" id="slate-laguardia"></svg></td>
          </tr>
          <tr>
              <td>Herbert H. Lehman HS</td>
              <td colspan=6><svg width="680" id="slate-lehman"></svg></td>
          </tr>
          <tr>
              <td>Queens Science</td>
              <td colspan=6><svg width="680" id="slate-queens"></svg></td>
          </tr>
          <tr>
              <td>Staten Island Tech</td>
              <td colspan=6><svg width="680" id="slate-statenIsland"></svg></td>
          </tr>
      </table>
    </div>

    <div>
      <p><h2>Overall Population Data:</h2></p>
      <svg></svg>
    </div>

    <form name="yearselector2">
      <input type="range" name="year2" id="yearInput2" value="1950" min="1900" max="2010" step="10" oninput="yearOutput2.value = yearInput2.value">
      <output name="yearOutput2" id="yearOutput2">1950</output>
    </form>

    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script src="/static/bubbles.js"></script>

  </body>
</html>
